:root {
    /* Primary Colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral Colors */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

main {
    padding: 0 30px;
}

/*** Title Section ***/
.title-section {
    margin: 60px auto;
    width: 100%;
    max-width: 475px;
    text-align: center;
}

.top-title {
    font-size: 2rem;
    font-weight: 200;
    color: var(--grayish-blue);
}

.bottom-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--very-dark-blue);
}

.title-description {
    margin-top: 15px;
    font-size: 1.5rem;
    color: var(--grayish-blue);
    opacity: 0.7;
}

.cards-section {
    margin-bottom: 60px;
    display: grid;
    gap: 25px;
}

.sup-container {
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 1px 8px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-top: 4px solid var(--cyan);
}

/*** Global Styles ***/
.sub-container {
    display: grid;
}

.card-title {
    font-size: 1.7rem;
    color: var(--very-dark-blue);
}

.card-main {
    font-size: 1.3rem;
    color: var(--grayish-blue);
}


/* Retaking basic Styles */
.supervisor-icon {
    margin-top: 20px;
    justify-self: flex-end;
    width: 50px;
    height: 50px;
    background-image: url('./assets/icon/icon-supervisor.svg');
    background-size: contain;
}

.team-container {
    padding: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    box-shadow: 1px 8px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-top: 4px solid var(--red);
}

.team-builder-icon {
    margin-top: 20px;
    justify-self: flex-end;
    width: 50px;
    height: 50px;
    background-image: url('./assets/icon/icon-team-builder.svg');
    background-size: contain;
}

.karma-container {
    padding: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    box-shadow: 1px 8px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-top: 4px solid var(--orange);
}

.karma-icon {
    margin-top: 20px;
    justify-self: flex-end;
    width: 50px;
    height: 50px;
    background-image: url('./assets/icon/icon-karma.svg');
    background-size: contain;
}

.calculator-container {
    padding: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    box-shadow: 1px 8px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-top: 4px solid var(--blue);
}

.calculator-icon {
    margin-top: 20px;
    justify-self: flex-end;
    width: 50px;
    height: 50px;
    background-image: url('./assets/icon/icon-calculator.svg');
    background-size: contain;
}


/*** Media queries ***/
@media (min-width: 375px) and (max-width: 660px) {
    .cards-section {
        justify-content: center;
    }
}

@media (min-width: 661px) and (max-width: 999px) {
    .cards-section {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (min-width: 1000px) {
    .cards-section {
        margin: 0 auto;
        width: 900px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .sup-container {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        align-self: center;
    }

    .team-container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .karma-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .calculator-container {
        grid-column: 3 / 3;
        grid-row: 1 / 3;
        align-self: center;
    }
}